hr {
  width:1050px;
  
}

body{
  color:blue; background: black; text-align: center;
  background-repeat: no-repeat;
  background-position: center;
    background-image: url("https://youtu.be/t22flliJLTQ?t=105");
 
  
}


h1{
  text-align: center;
}

h2{
  text-align:center;
}

#b1{
  border: 4px dotted blue;
  padding: 4px;
  margin: auto;
  width: 200px;
  
    
}

#ft{
  text-decoration:underline;
}